<mat-card *ngIf="this.count > 0">
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span
          [ngClass]="{
            blink_me: this.loaded
          }"
        >
          Projects ({{ this.count }})
        </span>
      </h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card class="project-card" *ngFor="let project of projects">
      <div>        
        <div class="author-desc">
        <h3>
          <a [href]="project.html_url" target="_blank">{{ project.name }}</a>
        </h3>   
          <img [src]="project.owner.avatar_url" width="64" height="64" />
        </div>        
        <div>
          {{ project.description }}
        </div>        
        <div class="tags-row"></div>
        
      </div>
    </mat-card>
  </mat-card-content>

</mat-card>
